* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	background: #f1f5f8;
	color: #222;
	text-align: center;
}

.book {
	background: #fff;
	border-radius: 1rem;
	padding: 2rem;
	text-align: center;
}

.book p {
	margin: 1rem 0 0.5;
}

.booklist {
	width: 90vw;
	max-width: 1170px;
	margin: 5rem auto;
	display:inline-block;
	gap: 2rem;
}

.book img {
	width: 200px;
	/* height: 50%; */
	height: 300px;
	object-fit: cover;
	position: relative;
}

@media screen and (min-width: 768px) {
	.booklist {
		grid-template-columns: repeat(3, 1fr);
	}
}

.number {
	position: absolute;
	left: 40px;
	/* top: 0; */
	padding: 0.75rem;
	border-top-left-radius: 1rem;
	border-bottom-right-radius: 1rem;
	background: rgb(19, 137, 176);
	color: white;
}

h1 {
	text-align: center;
	margin-top: 4rem;
	text-transform: capitalize;
}

h3 {
	color: rgb(15, 89, 113);
}